@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,500,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  background: rgb(236, 236, 236);
  font-size: 0.9em;
}

.icon {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  vertical-align: bottom;
  display: inline-block;
  margin: -1px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.flex-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: 700;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.button {
  display: inline-block;
  background: white;
  color: dodgerblue;
  padding: 10px 15px;
  border-radius: 5px;
}

.button:hover {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  border-color: dodgerblue;
  cursor: pointer;
}

.button:active {
  box-shadow: inset 0 1px 0px 1px rgba(0, 0, 0, 0.15);
}

.blue-container {
  border: 1px solid dodgerblue;
  border-radius: 5px;
  text-align: center;
}

#game span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: lightgray;
  color: gray;
  width: 23%;
  height: 23%;
  margin: 5px;
  font-size: 3em;
  font-weight: bold;
}







